* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
}

.wrapper {
    width: 100%;
    height: 100vh;
    background-color: rgba(20,25,34,255)
}

#section_1 {
    height: 220px;
}

#section_2 {
    height: 98px; 
}

#section_3 {
    height: calc(100% - 428px);
    overflow-y: auto;
}

#section_4 {
    height: 110px;
}

.main_nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: calc(100% - 90px);
    background-color: black;
}

.main_nav_container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    height: 100%;
}

.logo img {
    width: 70%;
    margin-top: 10px;
    margin-bottom: 18px;
    margin-left: 10px;
}

.web_app_section img {
    width: 14%;
    margin-top: 10px;
    margin-left: 15px;
}

.web_app_section div {
    display: inline-block;
}

.home {
    border-left: 3px solid #6db42a;
}

.web_app_section span {
    margin-left: 5px;
    font-size: 14px;
    font-weight: bold;
}

.web_app_section a {
    text-decoration: none;
    color: #41454c;
}

.web_app_section a:hover {
    color: white;
}

.new_playlist h4 {
    margin-top: 25px;
    margin-left: 15px;
    padding-bottom: 20px;
    text-transform: uppercase;
    color: white;
}

#add {
    margin-left: 15px;
    font-size: 30px;
    font-weight: bold;
    background-color: #41454c;
    border-radius: 2px;
    padding: 0 10px;
}

#add a {
    text-decoration: none;
    color: black;
}

#add_text {
    margin-left: 10px;
    font-size: 14px;
    font-weight: bold;
}

#add_text a {
    text-decoration: none;
    color: #41454c;
}

#add_text a:hover {
    color: white;
}

.playlist_name ul {
    margin-left: 15px;
    margin-top: 20px;
}

.playlist_name ul li {
    list-style: none;
    padding-bottom: 10px;
}

.playlist_name ul li a {
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: #41454c;
}

.playlist_name ul li a:hover {
    color: white;
}

.app_install {
    margin-top: 10px;
    margin-left: 15px;
}

.app_install a {
    text-decoration: none;
    color: #41454c;
}

.app_install a:hover {
    color: white;
}

#arrow {
    padding: 5px 9px;
    margin-left: 5px;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid white;
    color: white;
    border-radius: 50%;
    
}

.app_install h5 {
    display: inline-block;
    margin-left: 5px;
}

hr {
    margin-top: 18px;
}

.user_profile img {
    width: 14%;
    margin-top: 10px;
    margin-left: 15px;
    border: 1px solid #41454c;
    border-radius: 50%;
    padding: 5px;
    background-color: gray;
    
}

.profile_name {
    display: inline-block;
    font-weight: bold;
    color: white;
    margin-left: 5px;
}

.main_content {
    width: calc(100% - 250px);
    margin-left: 250px;
    margin-top: 100px;
    height: calc(100% - 90px);
    overflow-y: auto;
    overflow-x: hidden;
    background-color:rgba(20,25,34,255);
}

[id*=content_section_] {
    margin-bottom: 50px;
}

.top_content {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 250px);
    height: 100px;
    margin-left: 250px;
    background-color: rgba(8,11,18,1);
}

.top_content_container {
    position: relative;
}

.top_content_container button {
    position: absolute;
    top: 30px;
    right: 40px;
    font-size: 12px;
    text-transform: uppercase;
    padding: 10px 30px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: rgba(8,11,18,0);
    color: white;
}

.menu_tab_container {
    display: flex;
    justify-content: center;
}

.menu_tab {
    margin-top: 15px;
}

.menu_tab li {
    list-style: none;
    display: inline;
    padding: 10px;
}

.menu_tab li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: #41454c;
}

#first {
    border-bottom: 1px solid #6db42a;
}

.menu_tab li a:hover {
    color: white;
}

.row_card_title {
    margin: 30px 15px;
    color: white;
}

.row_card_1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 1px solid red;
}
.card_container {
    display: inline-block;
    width: 200px;
    border: 1px solid white;
    
}

.card img {
    width: 100%;
}

.card_title {
    width: 200px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    border: 1px solid green;
}

.card_title h4 {
    color: white;
}

.card_sub_title {
    width: 200px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    border: 1px solid orange;
}

.card_sub_title h5, .row_card_sub_title {
    color: #6a6e74;
}

.row_card_sub_title {
    margin-left: 15px;
}

.row_card_2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
    border: 1px solid red;
    
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: #282828;
}











